{% extends 'app/base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% block search %}
    <h5>Result search for {{searched}}</h5>
    <div class="row" style="width:100%">
      {% for product in keys %}
      <div class="col-lg-3">
          <img class="thumbnail" src="{{product.ImageURL}}" alt="">
          <div class="box-element product">
              <h6><strong>{{product.name}}</strong></h6>
              <hr>
  
              <button data-product={{product.id}} data-action="add" class="btn btn-outline-secondary add-btn update-cart liveAlertBtn">Thêm vào giỏ hàng</button>
              <a class="btn btn-outline-success" href="#">Xem</a>
              <h6 style="display :inline-block; float:right "><strong>{{ product.price }} VND</strong></h6>
          </div>
         
      </div>
      {% endfor %}
   
  </div>
  <br />
  <br />
  <br />
  <br />
    {% endblock search %}
</body>
</html>